* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$yellow: hsl(47, 88%, 63%);
$white: hsl(0, 0%, 100%);
$gray-500: hsl(0, 0%, 42%);
$gray-950: hsl(0, 0%, 7%);

body {
  font-size: clamp(0.5rem, 1rem, 1.5rem);
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: $yellow;
  color: $gray-500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  height: 100vh;
}

main {
  background: $white;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 10px 10px $gray-950;
  border: 1px solid $gray-950;

  @media (min-width: 500px) {
    width: 70%;
  }
  @media (min-width: 599px) {
    width: 50%;
  }
  @media (min-width: 999px) {
    width: 40%;
  }
  @media (min-width: 1200px) {
    width: 28%;
  }

  & > div {
    & * {
      padding: 1.5rem 0;
    }

    & img {
      border-radius: 1rem;
      width: 100%;
      height: 100%;
      padding-top: 0;
    }

    & a {
      text-decoration: none;
      color: $gray-950;
      padding: 0.5rem;
      background: $yellow;
      font-weight: bold;
    }
  }

  & > section {
    & h2 {
      color: $gray-950;
      padding: 0 0 1.5rem 0;

      & a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;

        &:hover {
          color: $yellow;
        }
      }
    }

    & > div {
      display: flex;
      align-items: center;
      padding-bottom: 0;

      & * {
        display: inline;
        padding: 1.5rem 0;
      }

      & img {
        width: 10%;
      }

      & p.author {
        font-weight: bold;
        color: $gray-950;
        margin-left: 1rem;
      }
    }
  }
}
